<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/techjobs.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title th:text="'TechJobs' + ${title == null ? '' : ' :: ' + title}">TechJobs</title>
</head>

<body>

    <div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a th:href="@{/}" class="navbar-brand">TechJobs</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/search}">Search</a></li>
                    <li><a th:href="@{/list}">List</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div th:fragment="jobTable" th:if="${jobs} and ${jobs.size()}">
        <h3 th:text="${jobs.size()} + ' Result(s)'"></h3>
        <table th:each="job, idx : ${jobs}" class="job-listing">
            <tr th:each="jobKey, idx : ${job}" th:class="${idx.odd} ? 'odd'">
                <td th:if="${jobKey.key} == 'name'" th:text="${#strings.capitalizeWords(jobKey.key)}"></td>
                <td th:unless="${jobKey.key} == 'name'"> <a th:href="@{/list/values(column=${jobKey.key})}" th:text="${#strings.capitalizeWords(jobKey.key)}"></a></td>
                <td th:text="${jobKey.value}"></td>
            </tr>
        </table>
    </div>

</body>
</html>